<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.ClickInfoMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.entity.ClickInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="collect_count" jdbcType="INTEGER" property="collectCount" />
    <result column="play_count" jdbcType="INTEGER" property="playCount" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, like_count, collect_count, play_count, info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_clickinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_clickinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.entity.ClickInfo">
    insert into t_clickinfo (id, like_count, collect_count, 
      play_count, info)
    values (#{id,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER}, #{collectCount,jdbcType=INTEGER}, 
      #{playCount,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.entity.ClickInfo">
    insert into t_clickinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="likeCount != null">
        like_count,
      </if>
      <if test="collectCount != null">
        collect_count,
      </if>
      <if test="playCount != null">
        play_count,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="collectCount != null">
        #{collectCount,jdbcType=INTEGER},
      </if>
      <if test="playCount != null">
        #{playCount,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.entity.ClickInfo">
    update t_clickinfo
    <set>
      <if test="likeCount != null">
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="collectCount != null">
        collect_count = #{collectCount,jdbcType=INTEGER},
      </if>
      <if test="playCount != null">
        play_count = #{playCount,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.entity.ClickInfo">
    update t_clickinfo
    set like_count = #{likeCount,jdbcType=INTEGER},
      collect_count = #{collectCount,jdbcType=INTEGER},
      play_count = #{playCount,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>