<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis主配置文件 -->
<configuration>

		<settings>
		<!-- 配置mybatis运行过程中日志输出的技术选型的，mybatis支持多种日志输出，内置STDOUT_LOGGING -->
		<!-- 配置这个之后，mybatis运行过程中会输出执行的sql语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<typeAliases> 
	<!-- type 包名+类型，alias 指定别名 -->
	
	<!--	<typeAlias type="com.qfedu.entity.t_menstruation" alias="tmenstruation"/>-->

	</typeAliases>
	
	

	
	
	


	
</configuration>
